{% extends "base.html" %}

{% block content %}
<CENTER><H1>Gumbleton baptisms</H1></CENTER> <BR clear=all> 

{% if baptism_list %}
<p/>
	<table border=1>
	<tr><th>Date</th><th>Name</th><th>Parents</th><th>Place</th><th>Source</th></tr>
	{% for row in baptism_list %}
		<tr id="{{row.id}}"><td >{{row.date}}</td>
		<td>{%if row.person_id %}<a href=/people/{{row.person.PID}}.html>{{row.names}} {{row.surname}}</a>{%else%}{{row.names}} {{row.surname}}{%endif%}</td>
		<td >{{row.parents}}</td>
		<td>{{row.place}}</td>
		<td>{{row.source}}</td></tr>
	{% endfor %}
	</table>
<p/>
{% endif %}

{% endblock %}
